<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekosighed.mapper.mapper.SearchRecordsMapper">
  <resultMap id="BaseResultMap" type="com.nekosighed.pojo.model.SearchRecords">
    <!--
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    -->
    delete from search_records
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nekosighed.pojo.model.SearchRecords">
    <!--
    -->
    insert into search_records (id, content)
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nekosighed.pojo.model.SearchRecords">
    <!--
    -->
    update search_records
    set content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    -->
    select id, content
    from search_records
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
    -->
    select id, content
    from search_records
  </select>

<!-- 搜索热词，首个热度最高  -->
  <select id="getHotWords" resultType="java.lang.String">
    select content from search_records group by content order by count(content) desc
  </select>
</mapper>