<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekosighed.mapper.mapper.UsersLikeVideosMapper">
  <resultMap id="BaseResultMap" type="com.nekosighed.pojo.model.UsersLikeVideos">
    <!--
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="video_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    -->
    delete from users_like_videos
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nekosighed.pojo.model.UsersLikeVideos">
    <!--
    -->
    insert into users_like_videos (id, user_id, video_id
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{videoId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nekosighed.pojo.model.UsersLikeVideos">
    <!--
    -->
    update users_like_videos
    set user_id = #{userId,jdbcType=VARCHAR},
      video_id = #{videoId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    -->
    select id, user_id, video_id
    from users_like_videos
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
    -->
    select id, user_id, video_id
    from users_like_videos
  </select>

    <delete id="deleteByUserIdVideoId" parameterType="String">
    delete from users_like_videos
    where user_id = #{userId} and video_id = #{videoId}
  </delete>

  <select id="queryUserLikeVideos" resultType="com.nekosighed.pojo.model.UsersLikeVideos">
    select * from users_like_videos
    where user_id = #{userId} and video_id = #{videoId}
  </select>
</mapper>